{# templates/task/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Lista de Sarcini{% endblock %}

{% block stylesheets %}
    {{ parent() }} {# Include the parent stylesheets #}
    <link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
{% endblock %}

{% block body %}
    <h1>Lista de Sarcini</h1>

    <table>
        <tr>
            <th>Titlu</th>
            <th>Data Crearii</th>
            <th>Categorie</th>
        </tr>
        {% for task in pagination %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.createdAt|date("Y-m-d H:i:s") }}</td>
                <td>{{ task.category.name }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
